<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header id="header">
  <h1>Welcome to Store</h1>
</header>
<nav id="navigation">
  <ul class="left">
    <li class="left"><%= link_to 'Home', root_path %></li>
    <li class="left"><%= link_to 'Home', root_path %></li>
    <li class="left"><%= link_to 'Home', root_path %></li>
  </ul>

  <ul class="right">
    <% if current_user %>
        <li class="right"><%= link_to logout_path, method: :delete, class: "social-button dribbble" do %>
              <i class="fa fa-sign-out"></i>
          <% end %>
        </li>
        <li class="right"><a href="#" >Welcome, <%= current_user.Name %></a></li>
    <% else %>
        <ul class="nav navbar-nav pull-right">
          <li><a href="/auth/facebook" class="social-button facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="/auth/google" class="social-button google"><i class="fa fa-google"></i></a></li>
        </ul>
    <% end %>
  </ul>
</nav>

<div class="container">

  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
